<div class="main">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button (click)="showLoader('Customer')" mat-button>Customer</button>
      <button (click)="showLoader('Owner')" mat-button>Owner</button>
    </mat-drawer>

    <div class="example-sidenav-content f">
      <button mat-button (click)="drawer.toggle(); toggle()">
    Menu
      </button>

    </div>
  </mat-drawer-container>

  <div class="frame">
    <router-outlet></router-outlet>
  </div>
</div>
<mat-spinner
  diameter="60"
  strokeWidth="3"
  class="loader"
  *ngIf="loader"
></mat-spinner>
